//themes

@mixin main($highlight: orange,  $text: #fff, $background:#252526, $grad:#19191a,){
    background-color: $background;
    color: $text;

    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    h1, h2, h3{
        font-family: Oxygen, sans-serif;
        color: $highlight;
    }

    p, form, a{
        font-family: Roboto, sans-serif;
        color: $text;
        text-decoration: none;
    }

    ul {
        padding-left: 0;
    }

    ul li {
        margin-bottom: 15px;
        list-style: none;
    }

    .nav-wrapper{
        background: linear-gradient(to bottom, $grad 10%, $background);
    }

    nav{
        padding-top: 32px;
        max-width: 940px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 80px 1fr;

        #social{
            justify-self: right;
            padding: 15px 20px;  

            li{
                float: left;
                margin-left: 0.5vw; 

                a{
                    padding: 8px 12px;
                }
            }
        }

    }

    header, article, section{
        position: relative;
        align-items: center;

        max-width: 740px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    article, section {
        height: calc(100vh - 260px);
    }

    svg{
        color: $text;
        stroke: $text;
        fill: $text;
    }

}

//display

.differenceBetween{
    display: none; 
}

.addSubtract{
    display: none;
}

//general

body{
    @include main()
}

.display {

    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    background-color: #19191a;

    div{
        margin: auto;
        padding: 0px 50px;

        justify-content: space-around;
        align-items: center;
        justify-items: center;
    }  
    
    .content{
        margin: auto;
    }

    .input{
        margin: auto;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        text-align: center;
    
        #diffStart, #diffEnd, #addStart, #addAmount{
            color: orange;
        }

        select{
            display: in-line;
            float: left;
        }

        .addDate{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

    
    }

    .checkboxes{
        float: left;
    
        ul li {
            text-align: left;
            margin: 0px 30px 40px 50px;
            display: block;
            margin: .25em;
            padding-left: 1em;
            position: relative;
            line-height: 1.5em;
        }
    }

    .submit{
        float: right;
        padding: 50px !important;
    }

    .result{
        grid-column: 1/2;

        .finalResult{
            grid-column: 2/3;
            float: left;
        }
    }
}

.form-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 4px;
    text-align: center;

    .diff, .add{
        padding: .25em;
    }

    .diff{
        background-color: #19191a;
    }

    .add{
        background-color: transparent;
    }
}


.content{
    margin: auto;
    padding-top: 10vh;
}
//specifics

.brand svg{
    stroke: #fff;
    margin: 0 auto;
    fill: #ffffff00 !important;
    stroke-width: 5px;
}

.brand svg:hover{
    stroke: orange;
}

#linkedin:hover{
    fill:  #2867B2;
    stroke:#2867B2;
}

#github:hover{
    fill: #c9510c;
    stroke: #c9510c;
}

#dribbble:hover{
    fill: #ea4c89;
    stroke: #ea4c89;
}

.title{
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
}

