body {
  background-color: #252526;
  color: #fff;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body ::-webkit-scrollbar {
  display: none;
}

body .splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #252526;
  z-index: 200;
  color: white;
  text-align: left;
}

body .splash.display-none {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #252526;
  z-index: -10;
  color: white;
  text-align: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

body .fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
}

body .divider {
  background-image: linear-gradient(-285deg, #4d4d50 20%, #252526 80%, #4d4d50 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  height: 1px;
  width: 100%;
  margin: 60px 0;
}

body h1, body h2, body h3 {
  font-family: Oxygen, sans-serif;
  color: orange;
}

body .title {
  line-height: 54px;
  font-family: Oxygen, sans-serif;
  font-size: 5vh;
  font-weight: 3000;
  letter-spacing: -.34px;
}

body .colorTitle {
  color: orange;
}

body p, body form, body a, body .p {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.8vh;
}

body .text {
  text-align: center;
  font-family: Roboto, sans-serif;
}

body a.link {
  font-family: Oxygen, sans-serif;
  color: orange;
  font-weight: 600;
}

body .link:hover, body .link:visited {
  color: #ffa600b6;
}

body .button {
  color: white;
  background-color: orange;
  padding: 15px 24px 17px;
  font-size: 1.8vh;
  font-family: Roboto, sans-serif;
  text-align: center;
  border-radius: 5px;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 24px;
}

body .button:hover {
  background-color: rgba(255, 166, 0, 0.712);
  cursor: pointer;
}

body .button-link {
  color: white;
  font-family: Roboto, sans-serif;
}

body .nav-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #19191a), to(#252526));
  background: linear-gradient(to bottom, #19191a 10%, #252526);
}

body .nav-wrapper nav {
  padding-top: 32px;
  max-width: 940px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
}

body .nav-wrapper nav #social {
  -ms-grid-column-align: right;
      justify-self: right;
  padding: 15px 20px;
}

body .nav-wrapper nav #social li {
  float: left;
  margin-left: 0.5vw;
}

body .nav-wrapper nav #social li a {
  padding: 8px 12px;
}

body svg {
  color: #fff;
  stroke: #fff;
}

body .brand {
  stroke: #fff;
  margin: 0 auto;
  fill: #ffffff00 !important;
  stroke-width: 5px;
}

body .brand:hover {
  stroke: orange;
}

body #linkedin:hover {
  fill: #2867B2;
  stroke: #2867B2;
}

body #github:hover {
  fill: #c9510c;
  stroke: #c9510c;
}

body #sun:hover, body #moon:hover {
  fill: #ffffff8e;
  stroke: #ffffff8e;
}

body #linkedin, body #github, body #sun, body #moon {
  fill: #fff;
}

body #mode #moon {
  display: none;
}

body #sun {
  width: 30px !important;
  height: 30px !important;
}

body ul {
  padding-left: 0;
  line-height: 2.75em;
}

body ul li {
  margin-bottom: 15px;
  list-style: none;
}

body header, body article, body section {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 740px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body article, body section {
  height: calc(100vh - 260px);
}

body .content {
  display: -ms-grid;
  display: grid;
  max-width: 700px;
  margin: 0px auto;
  padding: 0px 40px 0px;
  padding-top: 5vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: auto;
}

body #hero {
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  max-width: 700px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-image: url(../images/heroBG.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40vh;
  background-position: absolute;
}

body #hero #home-p {
  font-family: Roboto, sans-serif;
  font-size: 1.8vh;
  line-height: 30px;
  margin-bottom: 44px;
  max-width: 500px;
}

body .slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

body .slideshow-container .slide {
  display: none;
}

body .slideshow-container .prev, body .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 35vh;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6 ease;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

body .slideshow-container .prev:hover, body .slideshow-container .next:hover {
  color: orange;
}

body .slideshow-container .skill-wrapper {
  text-align: left;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: in-line block;
  padding-bottom: 100px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
}

body .slideshow-container .about-wrapper {
  text-align: left;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  padding-bottom: 100px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body .slideshow-container .about-wrapper .p {
  line-height: 30px;
  margin-bottom: 44px;
}

body .block-list li {
  background: #19191a;
  color: #fff;
  display: inline-block;
  margin: .25em;
  padding: .25em .5em;
  position: relative;
  font-family: Oxygen, sans-serif;
  font-size: 1.8vh;
  line-height: 1.5em;
}

body .block-list li:hover {
  background: orange;
  color: #252526;
}

body article.courses-wrapper {
  text-align: left;
  height: calc(160vh) !important;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  margin: auto;
  max-width: 700px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 10vh;
}

body .footer-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#252526), to(#19191a));
  background: linear-gradient(to bottom, #252526, #19191a);
  height: calc(100vh);
  bottom: 0;
}

body .footer-background .contact-wrapper {
  width: 100%;
  -ms-grid-columns: 450px 450px;
      grid-template-columns: 450px 450px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  display: grid;
  font-size: 14px;
}

body .footer-background .contact-wrapper p {
  max-width: 700px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  font-size: 1.9vh;
  text-align: left;
  letter-spacing: .36px;
  font-family: Roboto, sans-serif;
}

body .footer-background .contact-wrapper footer {
  display: -ms-grid;
  display: grid;
  font-size: 14px;
}

body .footer-background .contact-wrapper .footer-grid {
  text-align: left;
  height: calc(100vh - 260px);
  padding: 50px 40px 0px;
}

body .footer-background .contact-wrapper #map {
  width: 300px;
  height: 350px;
  margin: 0 auto;
  border-style: solid black;
  border-radius: 5px;
}

.light {
  background-color: #e4e4e4;
  color: #494949;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.light ::-webkit-scrollbar {
  display: none;
}

.light .splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #252526;
  z-index: 200;
  color: white;
  text-align: left;
}

.light .splash.display-none {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #252526;
  z-index: -10;
  color: white;
  text-align: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.light .fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
}

.light .divider {
  background-image: linear-gradient(-285deg, #c2c2c2 20%, #e4e4e4 80%, #c2c2c2 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  height: 1px;
  width: 100%;
  margin: 60px 0;
}

.light h1, .light h2, .light h3 {
  font-family: Oxygen, sans-serif;
  color: #fd5e53;
}

.light .title {
  line-height: 54px;
  font-family: Oxygen, sans-serif;
  font-size: 5vh;
  font-weight: 3000;
  letter-spacing: -.34px;
}

.light .colorTitle {
  color: #fd5e53;
}

.light p, .light form, .light a, .light .p {
  font-family: Roboto, sans-serif;
  color: #494949;
  text-decoration: none;
  font-size: 1.8vh;
}

.light .text {
  text-align: center;
  font-family: Roboto, sans-serif;
}

.light a.link {
  font-family: Oxygen, sans-serif;
  color: #fd5e53;
  font-weight: 600;
}

.light .link:hover, .light .link:visited {
  color: #e05348;
}

.light .button {
  color: white;
  background-color: #fd5e53;
  padding: 15px 24px 17px;
  font-size: 1.8vh;
  font-family: Roboto, sans-serif;
  text-align: center;
  border-radius: 5px;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 24px;
}

.light .button:hover {
  background-color: rgba(255, 166, 0, 0.712);
  cursor: pointer;
}

.light .button-link {
  color: white;
  font-family: Roboto, sans-serif;
}

.light .nav-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #c2c2c2), to(#e4e4e4));
  background: linear-gradient(to bottom, #c2c2c2 10%, #e4e4e4);
}

.light .nav-wrapper nav {
  padding-top: 32px;
  max-width: 940px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
}

.light .nav-wrapper nav #social {
  -ms-grid-column-align: right;
      justify-self: right;
  padding: 15px 20px;
}

.light .nav-wrapper nav #social li {
  float: left;
  margin-left: 0.5vw;
}

.light .nav-wrapper nav #social li a {
  padding: 8px 12px;
}

.light svg {
  color: #494949;
  stroke: #494949;
}

.light .brand {
  stroke: #494949;
  margin: 0 auto;
  fill: #ffffff00 !important;
  stroke-width: 5px;
}

.light .brand:hover {
  stroke: #fd5e53;
}

.light #linkedin:hover {
  fill: #2867B2;
  stroke: #2867B2;
}

.light #github:hover {
  fill: #c9510c;
  stroke: #c9510c;
}

.light #sun:hover, .light #moon:hover {
  fill: #4949496b;
  stroke: #4949496b;
}

.light #linkedin, .light #github, .light #sun, .light #moon {
  fill: #494949;
}

.light #mode #moon {
  display: none;
}

.light #sun {
  width: 30px !important;
  height: 30px !important;
}

.light ul {
  padding-left: 0;
  line-height: 2.75em;
}

.light ul li {
  margin-bottom: 15px;
  list-style: none;
}

.light header, .light article, .light section {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 740px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.light article, .light section {
  height: calc(100vh - 260px);
}

.light .content {
  display: -ms-grid;
  display: grid;
  max-width: 700px;
  margin: 0px auto;
  padding: 0px 40px 0px;
  padding-top: 5vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: auto;
}

.light #hero {
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  max-width: 700px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-image: url(../images/heroBG.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40vh;
  background-position: absolute;
}

.light #hero #home-p {
  font-family: Roboto, sans-serif;
  font-size: 1.8vh;
  line-height: 30px;
  margin-bottom: 44px;
  max-width: 500px;
}

.light .slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

.light .slideshow-container .slide {
  display: none;
}

.light .slideshow-container .prev, .light .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 35vh;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #494949;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6 ease;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.light .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.light .slideshow-container .prev:hover, .light .slideshow-container .next:hover {
  color: #fd5e53;
}

.light .slideshow-container .skill-wrapper {
  text-align: left;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: in-line block;
  padding-bottom: 100px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
}

.light .slideshow-container .about-wrapper {
  text-align: left;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  padding-bottom: 100px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.light .slideshow-container .about-wrapper .p {
  line-height: 30px;
  margin-bottom: 44px;
}

.light .block-list li {
  background: #c2c2c2;
  color: #494949;
  display: inline-block;
  margin: .25em;
  padding: .25em .5em;
  position: relative;
  font-family: Oxygen, sans-serif;
  font-size: 1.8vh;
  line-height: 1.5em;
}

.light .block-list li:hover {
  background: #fd5e53;
  color: #e4e4e4;
}

.light article.courses-wrapper {
  text-align: left;
  height: calc(160vh) !important;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  margin: auto;
  max-width: 700px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 10vh;
}

.light .footer-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#c2c2c2));
  background: linear-gradient(to bottom, #e4e4e4, #c2c2c2);
  height: calc(100vh);
  bottom: 0;
}

.light .footer-background .contact-wrapper {
  width: 100%;
  -ms-grid-columns: 450px 450px;
      grid-template-columns: 450px 450px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  display: grid;
  font-size: 14px;
}

.light .footer-background .contact-wrapper p {
  max-width: 700px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  font-size: 1.9vh;
  text-align: left;
  letter-spacing: .36px;
  font-family: Roboto, sans-serif;
}

.light .footer-background .contact-wrapper footer {
  display: -ms-grid;
  display: grid;
  font-size: 14px;
}

.light .footer-background .contact-wrapper .footer-grid {
  text-align: left;
  height: calc(100vh - 260px);
  padding: 50px 40px 0px;
}

.light .footer-background .contact-wrapper #map {
  width: 300px;
  height: 350px;
  margin: 0 auto;
  border-style: solid black;
  border-radius: 5px;
}

.differenceBetween {
  display: none;
}

.addSubtract {
  display: none;
}

.date-calc {
  background-color: #252526;
  color: #fff;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  font-size: 1.7vh;
}

.date-calc ::-webkit-scrollbar {
  display: none;
}

.date-calc .splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #252526;
  z-index: 200;
  color: white;
  text-align: left;
}

.date-calc .splash.display-none {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #252526;
  z-index: -10;
  color: white;
  text-align: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.date-calc .fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
}

.date-calc .divider {
  background-image: linear-gradient(-285deg, #4d4d50 20%, #252526 80%, #4d4d50 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  height: 1px;
  width: 100%;
  margin: 60px 0;
}

.date-calc h1, .date-calc h2, .date-calc h3 {
  font-family: Oxygen, sans-serif;
  color: orange;
}

.date-calc .title {
  line-height: 54px;
  font-family: Oxygen, sans-serif;
  font-size: 5vh;
  font-weight: 3000;
  letter-spacing: -.34px;
}

.date-calc .colorTitle {
  color: orange;
}

.date-calc p, .date-calc form, .date-calc a, .date-calc .p {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.8vh;
}

.date-calc .text {
  text-align: center;
  font-family: Roboto, sans-serif;
}

.date-calc a.link {
  font-family: Oxygen, sans-serif;
  color: orange;
  font-weight: 600;
}

.date-calc .link:hover, .date-calc .link:visited {
  color: #ffa600b6;
}

.date-calc .button {
  color: white;
  background-color: orange;
  padding: 15px 24px 17px;
  font-size: 1.8vh;
  font-family: Roboto, sans-serif;
  text-align: center;
  border-radius: 5px;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 24px;
}

.date-calc .button:hover {
  background-color: rgba(255, 166, 0, 0.712);
  cursor: pointer;
}

.date-calc .button-link {
  color: white;
  font-family: Roboto, sans-serif;
}

.date-calc .nav-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #19191a), to(#252526));
  background: linear-gradient(to bottom, #19191a 10%, #252526);
}

.date-calc .nav-wrapper nav {
  padding-top: 32px;
  max-width: 940px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
}

.date-calc .nav-wrapper nav #social {
  -ms-grid-column-align: right;
      justify-self: right;
  padding: 15px 20px;
}

.date-calc .nav-wrapper nav #social li {
  float: left;
  margin-left: 0.5vw;
}

.date-calc .nav-wrapper nav #social li a {
  padding: 8px 12px;
}

.date-calc svg {
  color: #fff;
  stroke: #fff;
}

.date-calc .brand {
  stroke: #fff;
  margin: 0 auto;
  fill: #ffffff00 !important;
  stroke-width: 5px;
}

.date-calc .brand:hover {
  stroke: orange;
}

.date-calc #linkedin:hover {
  fill: #2867B2;
  stroke: #2867B2;
}

.date-calc #github:hover {
  fill: #c9510c;
  stroke: #c9510c;
}

.date-calc #sun:hover, .date-calc #moon:hover {
  fill: #ffffff8e;
  stroke: #ffffff8e;
}

.date-calc #linkedin, .date-calc #github, .date-calc #sun, .date-calc #moon {
  fill: #fff;
}

.date-calc #mode #moon {
  display: none;
}

.date-calc #sun {
  width: 30px !important;
  height: 30px !important;
}

.date-calc ul {
  padding-left: 0;
  line-height: 2.75em;
}

.date-calc ul li {
  margin-bottom: 15px;
  list-style: none;
}

.date-calc header, .date-calc article, .date-calc section {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 740px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.date-calc article, .date-calc section {
  height: calc(100vh - 260px);
}

.date-calc .content {
  display: -ms-grid;
  display: grid;
  max-width: 700px;
  margin: 0px auto;
  padding: 0px 40px 0px;
  padding-top: 5vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: auto;
}

.date-calc #hero {
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  max-width: 700px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-image: url(../images/heroBG.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40vh;
  background-position: absolute;
}

.date-calc #hero #home-p {
  font-family: Roboto, sans-serif;
  font-size: 1.8vh;
  line-height: 30px;
  margin-bottom: 44px;
  max-width: 500px;
}

.date-calc .slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

.date-calc .slideshow-container .slide {
  display: none;
}

.date-calc .slideshow-container .prev, .date-calc .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 35vh;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6 ease;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.date-calc .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.date-calc .slideshow-container .prev:hover, .date-calc .slideshow-container .next:hover {
  color: orange;
}

.date-calc .slideshow-container .skill-wrapper {
  text-align: left;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: in-line block;
  padding-bottom: 100px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
}

.date-calc .slideshow-container .about-wrapper {
  text-align: left;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  padding-bottom: 100px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.date-calc .slideshow-container .about-wrapper .p {
  line-height: 30px;
  margin-bottom: 44px;
}

.date-calc .block-list li {
  background: #19191a;
  color: #fff;
  display: inline-block;
  margin: .25em;
  padding: .25em .5em;
  position: relative;
  font-family: Oxygen, sans-serif;
  font-size: 1.8vh;
  line-height: 1.5em;
}

.date-calc .block-list li:hover {
  background: orange;
  color: #252526;
}

.date-calc article.courses-wrapper {
  text-align: left;
  height: calc(160vh) !important;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  margin: auto;
  max-width: 700px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 10vh;
}

.date-calc .footer-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#252526), to(#19191a));
  background: linear-gradient(to bottom, #252526, #19191a);
  height: calc(100vh);
  bottom: 0;
}

.date-calc .footer-background .contact-wrapper {
  width: 100%;
  -ms-grid-columns: 450px 450px;
      grid-template-columns: 450px 450px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  height: calc(100vh - 260px);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  display: grid;
  font-size: 14px;
}

.date-calc .footer-background .contact-wrapper p {
  max-width: 700px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  font-size: 1.9vh;
  text-align: left;
  letter-spacing: .36px;
  font-family: Roboto, sans-serif;
}

.date-calc .footer-background .contact-wrapper footer {
  display: -ms-grid;
  display: grid;
  font-size: 14px;
}

.date-calc .footer-background .contact-wrapper .footer-grid {
  text-align: left;
  height: calc(100vh - 260px);
  padding: 50px 40px 0px;
}

.date-calc .footer-background .contact-wrapper #map {
  width: 300px;
  height: 350px;
  margin: 0 auto;
  border-style: solid black;
  border-radius: 5px;
}

.date-calc .content {
  margin: auto !important;
  padding-top: 10vh;
}

.date-calc .display {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  background-color: #0000002f;
}

.date-calc .display div {
  margin: auto;
  padding: 0px 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.date-calc .display .input {
  margin: auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  font-family: Roboto, sans-serif;
  padding-top: 1vh;
  text-align: center;
}

.date-calc .display .input #diffStart, .date-calc .display .input #diffEnd, .date-calc .display .input #addStart, .date-calc .display .input #addAmount {
  color: orange;
  width: 14em;
}

.date-calc .display .input #addAmount {
  width: 3em;
}

.date-calc .display .input select {
  display: in-line;
  float: left;
}

.date-calc .display .input .addDate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}

.date-calc .display .input .addDate #addAmount {
  height: 2.20em;
  width: 4em;
  border: none;
}

.date-calc .display .input .addDate #addSubtract, .date-calc .display .input .addDate #addType {
  height: 2.5em;
  border: none;
}

.date-calc .display .checkboxes {
  float: left;
}

.date-calc .display .checkboxes ul li {
  text-align: left;
  margin: 0px 30px 40px 50px;
  display: block;
  margin: .25em;
  padding-left: 1em;
  position: relative;
  line-height: 1.5em;
}

.date-calc .display .submit #addSubmit, .date-calc .display .submit #diffSubmit {
  color: white;
  background-color: orange;
  padding: 15px 24px 17px;
  font-size: 1.8vh;
  font-family: Roboto, sans-serif;
  text-align: center;
  border-radius: 4px;
  line-height: 12px;
  display: inline-block;
  margin-bottom: 24px;
}

.date-calc .display .result {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.form-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border-radius: 4px;
  text-align: center;
}

.form-nav .diff, .form-nav .add {
  padding: .25em;
}

.form-nav .diff {
  background-color: #0000002f;
}

.form-nav .add {
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */