*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;  
}

body {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #010101, #007BB8);
    padding: 10px;

    footer{

        position: absolute;
        bottom: 5px;
        margin: auto;

        p{
            color: #fff;
            letter-spacing: 1px;
        }

        a{
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

.display{
    display: flex !important;
}

.addSubtract{
    display: none;
}


.date-calc{
    max-width: 700px;
    background: #fff;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    justify-content: space-evenly;

    .title{
        margin: 10px;
        font-size: 25px;
        font-weight: 500px;
        position: relative;
    }

    .form-nav{
        display: flex;
        position: relative;
        top: -10.5vh;
        margin: 15px;
        
     
        a{
            justify-content: space-evenly;
            margin: 0 5px;
            background-color: #fff;
            color: linear-gradient(135deg, #010101, #007BB8);
            border-radius: 4px;
            padding: 8px;
            letter-spacing: .5px;
        }
    }

    .title::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 4.5em;
        background: linear-gradient(135deg, #010101, #007BB8);
    }

    .content{

        form {
            flex-wrap: wrap;
            justify-content: space-evenly;

            .dateInput{

                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
                padding: 20px 0;

                .startDate, .endDate{

                    padding: 5px;

                    input{
                        height: 30px;
                        outline: none;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        border-bottom-width: 2px;
                        padding-left: 15px;
                        font-size: 16px;
                    }

                    input:focus{
                        border: 1px solid #007BB8;
                        border-bottom-width: 3px;
                        transition: all 0.3 ease;
                    }

                    input:hover{
                        border: 1px solid #007BB8;
                        border-bottom-width: 2px;
                    }
                    
                    label{
                        font-weight: 600;
                        margin-bottom: 5px;
                        display: block;
                    }

                    #diffStart, #diffEnd{

                        width: calc(100% / 2 + 50);
                        float: initial;
                    }
                }
    
            }

            .checkboxes{

                width: 100%;
                display: flex;
                justify-content: space-around;
                padding: 14px 0;

                ul{
                    list-style: none;
                    font-size: 15px;
                    font-weight: 500;

                    input{
                        width: 1.3em;
                        height: 1.3em;
                        background-color: #fff;
                        border-radius: 50%;
                        vertical-align: middle;
                        border: 2px solid #ccc;
                        outline: none;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        appearance: none;
                    }

                    input:checked{
                        background: #ccc;
                    }

                    input:hover{
                        border: 2px solid #007BB8;
                    }
                }


            }

            .submit{
                width: 100%;
                display: flex;
                margin: 14px 0;
                justify-content: center;
                text-align: center;

                button{
                    height: 30px;
                    width: 200px;
                    background: #007BB8;
                    font-size: 15px;
                    transition: all 0.3s ease;
                    color: #fff;
                    letter-spacing: 1px;
                    font-weight: 500;
                    border-radius: 4px;
                }

                button:hover{
                    background: #00689c;
                    transition: all 0.3s ease;
                    border-bottom-width: 3px;
                }
            }

            .result{
                width: 100%;
                margin: 14px 0;
                justify-content: center;
                text-align: center;
            }

        }     

    }

}