* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(135deg, #010101, #007BB8);
  padding: 10px;
}

body footer {
  position: absolute;
  bottom: 0px;
  margin: auto;
}

body footer p {
  color: #fff;
  letter-spacing: 1px;
}

body footer a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.display {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.addSubtract, .differenceBetween {
  display: none;
}

.date-calc {
  max-width: 700px;
  background: #fff;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.date-calc .title {
  margin: 10px;
  font-size: 25px;
  font-weight: 500px;
  position: relative;
}

.date-calc .form-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -105px;
  margin: 15px;
}

.date-calc .form-nav a {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  letter-spacing: .5px;
  -webkit-transition: 0.3s linear ease;
  transition: 0.3s linear ease;
}

.date-calc .form-nav #diff {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  background: linear-gradient(to bottom, #ccc, #fff);
}

.date-calc .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 4.5em;
  background: linear-gradient(135deg, #010101, #007BB8);
}

.date-calc .content {
  position: relative;
  z-index: 2;
}

.date-calc .content form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.date-calc .content form .dateInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 20px 0;
}

.date-calc .content form .dateInput .startDate, .date-calc .content form .dateInput .endDate, .date-calc .content form .dateInput .addDate {
  max-width: 200px;
  padding: 5px;
}

.date-calc .content form .dateInput .startDate input, .date-calc .content form .dateInput .startDate select, .date-calc .content form .dateInput .endDate input, .date-calc .content form .dateInput .endDate select, .date-calc .content form .dateInput .addDate input, .date-calc .content form .dateInput .addDate select {
  height: 30px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  padding-left: 15px;
  font-size: 16px;
  display: block;
}

.date-calc .content form .dateInput .startDate #addAmount, .date-calc .content form .dateInput .startDate #addSubtract, .date-calc .content form .dateInput .startDate #addType, .date-calc .content form .dateInput .endDate #addAmount, .date-calc .content form .dateInput .endDate #addSubtract, .date-calc .content form .dateInput .endDate #addType, .date-calc .content form .dateInput .addDate #addAmount, .date-calc .content form .dateInput .addDate #addSubtract, .date-calc .content form .dateInput .addDate #addType {
  width: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  padding-left: 15px;
}

.date-calc .content form .dateInput .startDate #addAmount, .date-calc .content form .dateInput .endDate #addAmount, .date-calc .content form .dateInput .addDate #addAmount {
  width: 40px;
}

.date-calc .content form .dateInput .startDate input:focus, .date-calc .content form .dateInput .endDate input:focus, .date-calc .content form .dateInput .addDate input:focus {
  border: 1px solid #007BB8;
  border-bottom-width: 3px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.date-calc .content form .dateInput .startDate input:hover, .date-calc .content form .dateInput .endDate input:hover, .date-calc .content form .dateInput .addDate input:hover {
  border: 1px solid #007BB8;
  border-bottom-width: 2px;
}

.date-calc .content form .dateInput .startDate label, .date-calc .content form .dateInput .endDate label, .date-calc .content form .dateInput .addDate label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.date-calc .content form .dateInput .startDate #diffStart, .date-calc .content form .dateInput .startDate #diffEnd, .date-calc .content form .dateInput .endDate #diffStart, .date-calc .content form .dateInput .endDate #diffEnd, .date-calc .content form .dateInput .addDate #diffStart, .date-calc .content form .dateInput .addDate #diffEnd {
  width: calc((100% / 2) + 50);
}

.date-calc .content form .dateInput .addDate {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.date-calc .content form .dateInput .addDate input {
  width: 90px;
}

.date-calc .content form .checkboxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 14px 0;
}

.date-calc .content form .checkboxes ul {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
}

.date-calc .content form .checkboxes ul input {
  width: 1.3em;
  height: 1.3em;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.date-calc .content form .checkboxes ul input:checked {
  background: #ccc;
}

.date-calc .content form .checkboxes ul input:hover {
  border: 2px solid #007BB8;
}

.date-calc .content form .submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.date-calc .content form .submit button {
  height: 30px;
  width: 200px;
  background: #007BB8;
  font-size: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 4px;
}

.date-calc .content form .submit button:hover {
  background: #00689c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom-width: 3px;
}

.date-calc .content form .result {
  width: 100%;
  margin: 14px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */